
body{
	background: url("img/fondo2.jpg");
	background-size: contain;
	background-repeat: repeat-y;
}
.bistro h2{
	color:white;
	background: rgba(0, 0, 0, 0.6);
	font-size: 28px;
}
.caja2 {
position: relative;
width: 300px;
height: 250px;
margin: 10px 25px 50px;
display: inline-block;
vertical-align: top;
text-align: left;
}
.caja2:hover{
	transform: scale(1.2);
}
.carta{
	text-align: center;
}
.caja2 img {
position: relative;
z-index:2;
border: 1px solid #333;
box-shadow: 1px 1px 4px #333;
width: 300px;
height: 250px;
cursor: pointer;
}
.info2 {
position: absolute;
z-index: 3; 
top: 10%;
zoom: 1;
opacity: 100;
padding: 5px;
text-align: center;
color: #eee;
background: rgba(0,0,0,.7);
cursor: pointer;
}
.oculto {display:none}
.carta ul{
background: rgba(196,186,158,0.8);
right: 20px;
z-index: 999;
color:#3B2B16;
border-radius: 10px;
left: 0;
bottom: 0;
position: absolute;
}
.bistro h2{
text-align: center;
}
